<span ng-controller="AscoltaController">
    <div class="wa-header">
        <div class="bottone-sx"><a href="#/impara"><img src="assets/images/bottone-sx.png" /></a></div>
        <div class="casa"><a href="#/"><img src="assets/images/casa.png" /></a></div>
        <div class="titolo"><img src="assets/images/titolo.png" /></div>
        <div class="bottone-dx"><a href="#/scrittura/{{name}}"><img src="assets/images/bottone-dx.png" /></a></div>
    </div>
    <div class="sottotitolo" id="sottotitolo_ascolto"></div>
    <br />
    <div class="notapiepagina">La divisione delle parole è fonetica e non rispetta necessariamente la divisione sillabica</div>
    <br />
    <div class="wa-main">
        <div class="wa-main-wrapper">
            <div class="wa-ascolta">
                <div id="sillabazione-{{parola.completa}}" class="box-sillabazione" ng-repeat="parola in parole">
                    <img class="imgToccaBottone" style="left: 0px; height: 60px;" />
                    <div class="pulsante-mini-audio" ng-click="playParola(parola);" ng-show="showPlayButton"></div>
                    <div id="sillaba-{{parola.completa}}-2" class="sillaba" style="margin-left: 20px; margin-right: 20px; width: auto; min-width: 140px" ng-show="showPlayButton">
                        {{parola.completa.toUpperCase()}}
                    </div>
                    <audio id="audio-{{parola.completa}}-2" ng-src="{{parola.audio}}" type="audio/mpeg">
                        Your browser does not support this audio format.
                    </audio>
                    <div class="pulsante-mini-audio" ng-click="playParolaSillabata(parola);" style="margin-left: 10px;"></div>
                    <audio id="audio-{{parola.completa}}" ng-src="{{parola.audioParola}}" type="audio/mpeg">
                        Your browser does not support this audio format.
                    </audio>
                    <div ng-repeat="parte in parola.parti">
                        <span id="parte-{{parola.completa}}-{{$index}}" class="parte parte-{{$index}}">{{parte.toUpperCase()}}</span>
                    </div>
                    <div id="sillaba-{{parola.completa}}" class="sillaba">{{parola.completa.toUpperCase()}}</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</span>