<div class="wa-header">
  <div class="casa"><a href="#/"><img src="assets/images/casa.png" /></a></div>
  <div class="titolo"><img src="assets/images/titolo.png" /></div>
  <div class="vaiaimparare"><a href="#/impara"><img src="assets/images/vaiaimparare.png" /></a></div>
  <div class="vaiagiocare"><a href="#/gioca"><img src="assets/images/vaiagiocare.png" /></a></div>
</div>
<div class="wa-main bg-crediti">
  <div class="wa-main-wrapper">
      <div class="wa-leggi">
          <h2>Crediti</h2>
          <div class="testo">
              I docenti che hanno contribuito a definire il funzionamento e i contenuti della WebAPP sono Patrizia Rickler, Michela Borio, Rocco De Paolis, Paola Tarino, Maria Ferrarese, Isabel Gonzalez Diez e Stefania Iannucci del Gruppo Tabula di Torino e Lia Italia, Alessia Bergamini, Maria Migazzi, Emanuela Migazzi e Maria Gabriella Bondi del CPIA I di Modena.<br>
              Stefano Kluzer ha coordinato in Ervet le attività di progettazione, il contributo dei docenti e il rapporto con lo sviluppatore informatico, con il supporto di Alessandra Lazzari.<br>
              La voce delle registrazioni audio è di Stefania Iannucci.<br>
              Lo sviluppo informatico della WebAPP è di <a href="http://riccardocavalieri.com" target="_blank" style="color:#555; text-decoration:none">riccardocavalieri.com</a>.
              <p>
                  Il presente lavoro è stato sviluppato nell’ambito del progetto “Parole in Gioco 4 - Strutturazione del sistema regionale di sostegno alla conoscenza della lingua italiana ed educazione civica” finanziato con il Fondo FEI (Fondo Europeo per l’Integrazione di Cittadini di paesi terzi 2007-2013 - 2013/FEI/ PROG- 106508).
                  Hanno collaborato alla realizzazione delle attività connesse al presente lavoro: Roberta Dall’Olio (Ervet); Barbara Pezzotta (Ervet); Elisa Bottazzi (Ervet);  Marzio Barbieri (Regione Emilia-Romagna); Monica Raciti (Regione Emilia-Romagna - responsabile del progetto “Parole in gioco")
              </p>
          </div>
      </div>
      <div class="wa-footer"><img src="assets/images/loghi.png" width="980" /></div>
      <div class="wa-credits"><a href="#/leggi">Scopri di più sull’App</a> | <a href="#/versioni">Versioni disponibili</a> | <a href="#/crediti">Crediti</a></div>
  </div>
</div>
