<div class="wa-header">
  <div class="casa"><a href="#/"><img src="assets/images/casa.png" /></a></div>
  <div class="titolo"><img src="assets/images/titolo.png" /></div>
  <div class="vaiaimparare"><a href="#/impara"><img src="assets/images/vaiaimparare.png" /></a></div>
  <div class="vaiagiocare"><a href="#/gioca"><img src="assets/images/vaiagiocare.png" /></a></div>
</div>
<div class="wa-main bg-crediti">
  <div class="wa-main-wrapper">
      <div class="wa-leggi">
          <h2>Crediti</h2>
          <div class="testo">

              <p>Alla progettazione e realizzazione dei contenuti delle Web Application hanno contribuito: i docenti dei CPIA del Gruppo Ricerca Azione Tabula di Torino (Michela Borio, Patrizia Rickler, Rocco De Paolis, Paola Tarino, Maria Ferrarese, Isabel Gonzalez Diez,  Stefania Iannucci e Erika Atzori); i docenti del CPIA I di Modena (Lia Italia, Alessia Bergamini, Maria Migazzi, Emanuela Migazzi e Maria Gabriella Bondi); Stefano Kluzer - ERVET SpA - Unità Unione Europea Cooperazione Territoriale e Internazionale, Inclusione Sociale; Marzio Barbieri -  Servizio Politiche per l'integrazione sociale, il contrasto alla povertà e Terzo settore della Regione Emilia-Romagna.</p>
              <p>Lo sviluppo informatico delle WebApp è di <a href="http://www.riccardocavalieri.com/" target="_blank">riccardocavalieri.com</a> </p>
              <p>
                  Per informazioni sul Progetto FUTURO IN CORSO: <a href="mailto: progettimigranti@regione.emilia-romagna.it">progettimigranti@regione.emilia-romagna.it</a><br>
                  Per informazioni sulle WebApp Fare Parole: <a href="mailto:famidigitale@ervet.it">famidigitale@ervet.it </a><br>
                  Per partecipare alla sperimentazione delle App nella regione Piemonte: <a href="mailto: ricercaazionetabula@gmail.com">ricercaazionetabula@gmail.com</a>
              </p>
          </div>
      </div>
      <div class="wa-footer"><img src="assets/images/loghi.png" width="980"></div>
      <div class="wa-credits"><a href="#/leggi">Scopri di più sull’App</a> | <a href="#/versioni">Versioni disponibili</a> | <a href="#/crediti">Crediti</a></div>
  </div>
</div>
