<div class="wa-header">
    <!--<div class="bottone-sx"><a href="#/"><img src="assets/images/bottone-sx.png" /></a></div>-->
    <div class="casa"><a href="#/"><img src="assets/images/casa.png" /></a></div>
    <div class="titolo"><img src="assets/images/titolo.png" /></div>
    <div class="vaiaimparare"><a href="#/impara"><img src="assets/images/vaiaimparare.png" /></a></div>
    <div class="vaiagiocare"><a href="#/gioca"><img src="assets/images/vaiagiocare.png" /></a></div>
    <!--<div class="bottone-dx"><a href="#/"><img src="assets/images/bottone-dx.png" /></a></div>-->
</div>
<div class="wa-main bg-impara">
    <div class="wa-main-wrapper">
        <div class="wa-impara" ng-controller="ImparaController">
            <div class="box-impara" style="position: relative">
                <img class="imgToccaCarte" />
                <div class="impara-box-carte">
                    <div class="impara-carte">
						<div ng-repeat="carta in carteRiga1" id="impara-{{carta.name}}" class="carta media premi"><a href="#/ascolta/{{carta.valore}}"><img ng-src="{{carta.imageUrl}}" /></a></div>
                    </div>
                    <div class="impara-carte">
                        <div ng-repeat="carta in carteRiga2" id="impara-{{carta.name}}" class="carta media premi"><a href="#/ascolta/{{carta.valore}}"><img ng-src="{{carta.imageUrl}}" /></a></div>
                    </div>
                    <div class="impara-carte">
                        <div ng-repeat="carta in carteRiga3" id="impara-{{carta.name}}" class="carta media premi"><a href="#/ascolta/{{carta.valore}}"><img ng-src="{{carta.imageUrl}}" /></a></div>
                        <div id="impara-carta-11.png" class="carta media premi">
                            <a href="#/minuscoloPreScrittura">
                                <img ng-src="assets/images/carte/carta-11.png" src="assets/images/carte/carta-11.png">
                            </a>
                        </div>
                        <div id="impara-caso" class="carta media premi"><a href="{{randomDestination}}"><img ng-src="{{imgCartaRandom}}" /></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>