<div class="wa-header">
  <div class="casa"><a href="#/"><img src="assets/images/casa.png" /></a></div>
  <div class="titolo"><img src="assets/images/titolo.png" /></div>
  <div class="vaiaimparare"><a href="#/impara"><img src="assets/images/vaiaimparare.png" /></a></div>
  <div class="vaiagiocare"><a href="#/gioca"><img src="assets/images/vaiagiocare.png" /></a></div>
</div>
<div class="wa-main bg-crediti">
  <div class="wa-main-wrapper">
      <div class="wa-leggi">
          <h1>FARE PAROLE</h1>
          <div class="testo">
              <p></p><h3>COME NASCONO QUESTE APPLICAZIONI</h3><br>
              <p>La Regione Emilia-Romagna nell’ambito dei progetti finanziati dal Fondo Europeo per l’Integrazione di Cittadini di paesi terzi 2007-2013 ha dato avvio ad azioni di sistema regionale per promuovere l’utilizzo di strumenti ICT nell’insegnamento della lingua italiana. Nel 2014 nell’ambito del progetto Parole in Gioco 3: azioni del sistema regionale di sostegno alla conoscenza della lingua italiana ed educazione civica (2012/FEI/PROG-104480) è stata realizzata una ricerca per promuovere l’uso dei tablet per l’apprendimento dell’italiano L2 con utenti stranieri a nulla o debole scolarità. Da questa ricerca è scaturita una collaborazione tra i docenti CPIA dell’Emilia Romagna e quelli del Gruppo Ricerca Azione Tabula di Torino, che ha portato a scambio di esperienze e attività comuni per lo sviluppo di nuovi strumenti in questo ambito.</p>
              <p>Nel 2015 nell’ambito del progetto Parole in Gioco 4 - Strutturazione del sistema regionale di sostegno alla conoscenza della lingua italiana ed educazione civica” (FEI/ PROG- 106508) è stata realizzata la prima Web Application “Fare parole”, un’applicazione creata specificatamente per adulti stranieri analfabeti o a bassa scolarità per lo sviluppo delle competenze strumentali relative alla letto-scrittura limitata alla formazione di parole con sillabe piane (bi-tri-quadrisillabiche). </p>
              <p>Nel 2017 per completare l’applicazione nell’ambito del progetto Futuro in Corso – PROG 118, finanziato dal Fondo Asilo, Migrazione e Integrazione 2014-2020 è stata realizzata una seconda Web Application di Fare Parole che include esercitazioni con parole più complesse con lettere doppie, consonanti intermedie e altre difficoltà ortografiche. Entrambe le web Application si possono utilizzare da PC e Tablet (sistemi operativi Android/iOS). </p>
          </div>
      </div>
      <div class="wa-footer"><img src="assets/images/loghi.png" width="980"></div>
      <div class="wa-credits"><a href="#/leggi">Scopri di più sull’App</a> | <a href="#/versioni">Versioni disponibili</a> | <a href="#/crediti">Crediti</a></div>
</div>
