<span ng-controller="MinuscoloPreScritturaController">
    <div class="wa-header">
        <div class="bottone-sx"><a href="#/impara"><img src="assets/images/bottone-sx.png" /></a></div>
        <div class="casa"><a href="#/"><img src="assets/images/casa.png" /></a></div>
        <div class="titolo"><img src="assets/images/titolo.png" /></div>
        <div class="bottone-dx"><a href="#/minuscoloScrittura"><img src="assets/images/bottone-dx.png" /></a></div>
    </div>
    <div class="sottotitolo" id="sottotitolo_minuscoloprescrittura"></div>
    <div class="wa-main">
        <div class="wa-main-wrapper">
            <div class="wa-minuscoloPreScrittura">
                <div class="box-board">
                    <div class="box-monitor" style="text-align: center;">
                        <div class="box-scrittura">
                            <div ng-repeat="parte in parolaRandom.parti track by $index" id="parte-u-{{$index}}" class="parte child parte-{{$index}}" style="display:inline-block;">{{parte.toLowerCase()}}</div>
                        </div>
                        <div class="box-scrittura">
                            <div ng-repeat="parte in parolaRandom.parti track by $index" id="parte-l-{{$index}}" class="parte child parte-{{$index}}" style="display:inline-block;">{{parte.toUpperCase()}}</div>
                        </div>
                        <br />
                        <div class="pulsante leggi" ng-click="playParola(parolaRandom);" style="display: inline-block; vertical-align: middle; margin-right: 20px;">
                            <img class="imgToccaBottone" />
                        </div>
                        <div class="pulsante audio" ng-click="playSoundAfterAnimazioni();" style="display: inline-block; vertical-align: middle; margin-right: 20px;">
                            <img class="imgToccaBottone2" />
                        </div>
                        <audio id="audio-{{parolaRandom.completa}}" ng-src="{{parolaRandom.audioParola}}" type="audio/mpeg">
                            Your browser does not support this audio format.
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </span>