<span ng-controller="VerificaController">
    <div class="wa-header">
        <div class="bottone-sx"><a href="#/lettura/{{name}}"><img src="assets/images/bottone-sx.png" /></a></div>
        <div class="casa"><a href="#/"><img src="assets/images/casa.png" /></a></div>
        <div class="titolo"><img src="assets/images/titolo.png" /></div>
        <div class="bottone-dx"><a href="#/impara"><img src="assets/images/bottone-dx.png" /></a></div>
    </div>
    <div class="sottotitolo" id="sottotitolo_verifica"></div>
    <div class="wa-main">
        <div class="wa-main-wrapper">
            <div class="wa-verifica">
                <div class="box-consonanti" style="position: relative">
                    <img class="imgToccaCarte" />
                    <div id="parola-{{parola.completa}}" class="carta media ombra premi" ng-repeat="parola in parole" ng-click="checkSelection(parola.completa);" style="background-color: white; padding-left: 10px; padding-right: 10px; font-size: 30px;">
                        <div class="front testo">
                            <span>{{parola.completa.toUpperCase()}}</span>
                        </div>
                        <div class="back testo">
                            <!--<img src="/assets/images/lettera.png" />-->
                            <span>  </span>
                        </div>
                    </div>
                </div>
                <div class="box-pulsante">
                    <div class="pulsante audio" ng-click="playSoundScrittura()">
                        <img class="imgToccaBottone" />
                    </div>
                </div>
                <div class="box-card" style="text-align: -webkit-center; margin-top: 5px;">
                    <img class="hidden carta-anteprima" id="carta-anteprima-{{parola.completa}}" ng-repeat="parola in parole" src="{{parola.imageURL}}" />
                </div>
                <audio id="audio" src="" type="audio/mpeg">
                    Your browser does not support this audio format.
                </audio>
            </div>
        </div>
    </div>

    <audio id="audioVittoria" src="assets/sounds/messaggi/applausi.mp3" type="audio/mpeg">
        Your browser does not support this audio format.
    </audio>
 </span>
