<div class="wa-header">
  <div class="casa"><a href="#/"><img src="assets/images/casa.png" /></a></div>
  <div class="titolo"><img src="assets/images/titolo.png" /></div>
  <div class="vaiaimparare"><a href="#/impara"><img src="assets/images/vaiaimparare.png" /></a></div>
  <div class="vaiagiocare"><a href="#/gioca"><img src="assets/images/vaiagiocare.png" /></a></div>
</div>
<div class="wa-main bg-crediti">
  <div class="wa-main-wrapper">
    <div class="wa-leggi">
      <h2>Versioni disponibili</h2>
      <div class="testo"> 
        Attenzione, l’App Fare Parole è ottimizzata per alcuni browser web e i dispositivi mobile più recenti. Nello specifico, per consultare l’App da PC si consiglia l’utilizzo del browser Chrome.  Per consultare l’App da Tablet, si consigliano le versioni iOS 9.0 o superiori e Android 5.0 o superiori. Requisiti differenti possono causare malfunzionamenti nella consultazione. <br><br>
        Fare Parole 2 è disponibile in cinque versioni:<br>
        <h2>1 - Web App</h2>
        <p>La versione per web di Fare Parole è accessibile via internet all'indirizzo <a href="http://www.fareparole.it/fareparole2">http://www.fareparole.it/fareparole2</a>. Funziona su PC, Tablet e Smartphone.</p>
        <h2>2 - Chrome App</h2>
        <p>Fare Parole può essere installata come Chrome App. Il vantaggio di questa soluzione è che una volta installata non sarà più necessario utilizzare Internet, la Chrome App sarà pertanto disponibile anche off-line.
          Per installare la Chrome App scarichiamo Fare Parole dal link: <a href="http://www.fareparole.it/fareparole2/download/fareparole2.crx"> http://www.fareparole.it/fareparole2/download/fareparole2.crx</a>. Una volta scaricato il file, andiamo in <strong>Chrome</strong>, menu <strong>Impostazioni > Altri strumenti > Estensioni</strong> e trasciniamo all'interno della pagina il file scaricato. Da questo momento è possibile utilizzare la Chrome App anche off-line.</p>
        <h2>3 - Chrome App Portable</h2>
        <p>Fare Parole può essere copiata in una semplice chiavetta usb, o direttamente sul PC! Può essere utilizzata off-line e senza la necessità di alcuna installazione. Il file zip è scaricabile all'indirizzo: <a href="http://www.fareparole.it/fareparole2/download/fareparole2.zip">http://www.fareparole.it/fareparole2/download/fareparole2.zip</a>. Una volta scaricato, estraiamo lo zip e lanciamo <strong>GoogleChromePortable.exe</strong>. Troveremo Fare Parole disponibile tra le Chrome App. </p>
        <h2>4 - Tablet Android - ( versione Android 4.0 o superiore)</h2>
        <p>Fare Parole può essere installata come App sul proprio tablet Android! Il vantaggio di questa soluzione è che una volta installata non sarà più necessario utilizzare Internet, l'App sarà pertanto utilizzabile anche off-line.<br>
          Per installare l'App su tablet Android andare all'indirizzo: <a href="http://www.fareparole.it/fareparole2/download/fareparole2.apk">http://www.fareparole.it/fareparole2/download/fareparole2.apk</a>.<br>
          Alla comparsa delle notifica: "Questo tipo di file può danneggiare il tuo dispositivo. Vuoi conservare comunque?" Premere <strong>OK</strong>.<br>
          Andare nella cartella <strong>Download</strong> del proprio tablet e cliccare sul file <strong>fareparole.apk</strong>.<br>
          Se richiesto, cliccare su <strong>Impostazioni > Sicurezza > Sorgenti sconosciute</strong>. Confermare e continuare.<br>
          Cliccare infine su installa.<br>
          Al termine dell'installazione Fare Parole 2 sarà disponibile tra le applicazioni. </p>
        <h2>5 - iPad - ( versione 2 o superiore) - DISPONIBILE PROSSIMAMENTE</h2>
        <p>Fare Parole 2 può essere installata come App sul proprio iPad. Il vantaggio di questa soluzione è che una volta installata non sarà più necessario utilizzare Internet, l'App sarà pertanto utilizzabile anche off-line. Questa versione sarà disponibile nei prossimi giorni.</p>
      </div>
    </div>
    <div class="wa-footer"><img src="assets/images/loghi.png" width="980" /></div>
    <div class="wa-credits"><a href="#/leggi">Scopri di più sull’App</a> | <a href="#/versioni">Versioni disponibili</a> | <a href="#/crediti">Crediti</a></div>
  </div>
</div>
