<div class="wa-header">
  <div class="casa"><a href="#/"><img src="assets/images/casa.png" /></a></div>
  <div class="titolo"><img src="assets/images/titolo.png" /></div>
  <div class="vaiaimparare"><a href="#/impara"><img src="assets/images/vaiaimparare.png" /></a></div>
  <div class="vaiagiocare"><a href="#/gioca"><img src="assets/images/vaiagiocare.png" /></a></div>
</div>
<div class="wa-main bg-crediti">
    <div class="wa-main-wrapper">
        <div class="wa-leggi">
            <h2>Versioni disponibili</h2>
            <div class="testo">
                <h2>1 - Web (semplice link per Pc o Tablet)</h2>
                <p>La versione per web di Fare Parole è accessibile via internet all'indirizzo <a href="http://www.fareparole.it/fareparole2">http://www.fareparole.it/fareparole2</a>. Funziona su PC e Tablet.</p>
                <h2>2 - Chrome App (per usarla anche offline)</h2>
                <p>
                    Fare Parole può essere installata come Chrome App. Il vantaggio di questa soluzione è che una volta installata non sarà più necessario utilizzare Internet, la Chrome App sarà pertanto disponibile anche off-line.
                    Per installare la Chrome App scarichiamo Fare Parole dal link: <a href="http://www.fareparole.it/fareparole2/download/fareparole2.crx"> http://www.fareparole.it/fareparole2/download/fareparole2.crx</a>. Una volta scaricato il file, andiamo in <strong>Chrome</strong>, menu <strong>Impostazioni &gt; Altri strumenti &gt; Estensioni</strong> e trasciniamo all'interno della pagina il file scaricato. Da questo momento è possibile utilizzare la Chrome App anche off-line.
                </p>
                <h2>3 - Chrome App Portable (per trasportarla su chiavetta)</h2>
                <p>Fare Parole può essere copiata in una semplice chiavetta usb, o direttamente sul PC! Può essere utilizzata off-line e senza la necessità di alcuna installazione. Il file zip è scaricabile all'indirizzo: <a href="http://www.fareparole.it/fareparole2/download/fareparole2.zip">http://www.fareparole.it/fareparole2/download/fareparole2.zip</a>. Una volta scaricato, estraiamo lo zip e lanciamo <strong>GoogleChromePortable.exe</strong>. Troveremo Fare Parole disponibile tra le Chrome App. </p>
                <h2>4 - Tablet Android - (versione Android 5.0 o superiore)</h2>
                <p>
                    Fare Parole può essere installata come App sul proprio tablet Android! Il vantaggio di questa soluzione è che una volta installata non sarà più necessario utilizzare Internet, l'App sarà pertanto utilizzabile anche off-line. <a href="https://play.google.com/store/apps">Vai a Google Play.</a><br>

                </p>
                <h2>5 - iPad - (versione 2 o superiore)</h2>
                <p>Fare Parole 2 può essere installata come App sul proprio iPad. Il vantaggio di questa soluzione è che una volta installata non sarà più necessario utilizzare Internet, l'App sarà pertanto utilizzabile anche off-line. <a href="https://www.apple.com/it/ios/app-store/">Vai a AppStore.</a> </p>
            </div>
        </div>
        <div class="wa-footer"><img src="assets/images/loghi.png" width="980"></div>
        <div class="wa-credits"><a href="#/leggi">Scopri di più sull’App</a> | <a href="#/versioni">Versioni disponibili</a> | <a href="#/crediti">Crediti</a></div>
    </div>
</div>
