<div class="wa-header">
  <div class="casa"><a href="#/"><img src="assets/images/casa.png" /></a></div>
  <div class="titolo"><img src="assets/images/titolo.png" /></div>
  <div class="vaiaimparare"><a href="#/impara"><img src="assets/images/vaiaimparare.png" /></a></div>
  <div class="vaiagiocare"><a href="#/gioca"><img src="assets/images/vaiagiocare.png" /></a></div>
</div>
<div class="wa-main bg-crediti">
    <div class="wa-main-wrapper">
        <div class="wa-leggi">
            <h2>Versioni disponibili</h2>
            <div class="testo">
                <p>Per vedere tutte le versioni disponibili di Fare Parole vai al sito <a href="http://www.fareparole.it/">www.fareparole.it</>.</p>
            </div>
        </div>
        <div class="wa-footer"><img class="logofooter" src="assets/images/loghi.png"></div>
        <div class="wa-credits"><a href="#/leggi">Scopri di più sull’App</a> | <a href="#/versioni">Versioni disponibili</a> | <a href="#/crediti">Crediti</a></div>
    </div>
</div>
